.custom-hero-banner{
  text-align: center;
  color: purple;
}
.posts .post-content .post-info {
    background-color: rgba(15, 16, 16, 0.7);
}
.signin-signup {
    color: black;
}

.footer-social .social-link {
    color: #060606;
}
.footer-code.footer-module {
    color: grey;
}
.posts .post-content .post-info:hover {
    background-color: rgba(15, 16, 16, 0.7);
}
.zone-highlighter:hover {
  border-color: rgba(15, 15, 16, 0.6);
}

.user-menu-wrapper.secondaryNav-module.header-submodule {
    color: black;
}
span.menu-label-text {
    color: black;
}